<?xml version="1.0" encoding="UTF-8"?>
<Defs>
  <XmlExtensions.SettingsMenuDef>
    <modId>Rhynia.Mod.Misc</modId>
    <label>Rhynia Misc</label>
    <settings>

      <li Class="XmlExtensions.Setting.SplitColumn">
        <leftCol>
          <li Class="XmlExtensions.Setting.SetColor">
            <color>(255, 255, 0)</color>
          </li>
          <li Class="XmlExtensions.Setting.Text">
            <text>For minimal patch, any settings changed need restart to be applied</text>
            <tKey>RhyniaMisc_Settings_NeedRestart</tKey>
            <anchor>Middle</anchor>
          </li>
          <li Class="XmlExtensions.Setting.SetColor" />
        </leftCol>
        <rightCol>
          <li Class="XmlExtensions.Setting.ResetSettings" />
        </rightCol>
      </li>

      <li Class="XmlExtensions.Setting.Text">
        <text>The mod checks for mods for safe patch apply, but does not check DLC content: if you enable something related to DLC but didn't load the DLC, patches will throw errors</text>
        <tKey>RhyniaMisc_Settings_CheckInfo</tKey>
        <anchor>Middle</anchor>
      </li>

      <li Class="XmlExtensions.Setting.GapLine" />

      <!-- Vanilla -->

      <li Class="XmlExtensions.Setting.Section">
        <settings>
          <li Class="XmlExtensions.Setting.Text">
            <text>Patch (Vanilla)</text>
            <font>Medium</font>
            <tKey>RhyniaMisc_Settings_Vanilla</tKey>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_RejectRescueJoin</key>
            <label>Rescued pawns do not join</label>
            <tooltip>You're rescued but the colony doesn't need you</tooltip>
            <tKey>RhyniaMisc_Settings_Core_RejectRescueJoin</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_RejectRescueJoin_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_ImprovePsychoidFertilitySensitivity</key>
            <label>Improve psychoid fertility sensitivity</label>
            <tooltip>Increases the fertility sensitivity of psychoid plants</tooltip>
            <tKey>RhyniaMisc_Settings_Core_ImprovePsychoidFertilitySensitivity</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_ImprovePsychoidFertilitySensitivity_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoIndoorAndOutdoorNeed</key>
            <label>Remove indoor and outdoor need</label>
            <tooltip>Removes the need for indoor and outdoor</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoIndoorAndOutdoorNeed</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoIndoorAndOutdoorNeed_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoSleepDisturbed</key>
            <label>No sleep disturbed</label>
            <tooltip>Prevents the mood of sleeping disturbed</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoSleepDisturbed</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoSleepDisturbed_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoSkillDecay</key>
            <label>No skill decay</label>
            <tooltip>Prevents the decay of skills over time</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoSkillDecay</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoSkillDecay_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoSurgeryFail</key>
            <label>No surgery fail</label>
            <tooltip>Prevents surgeries from failing</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoSurgeryFail</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoSurgeryFail_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoTurretConsume</key>
            <label>No turret ammo consume</label>
            <tooltip>Prevents turrets from consuming ammo</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoTurretConsume</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoTurretConsume_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoFloorWealth</key>
            <label>No floor wealth</label>
            <tooltip>All floors have no market value</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoFloorWealth</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoFloorWealth_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_HideCryptoSleepPawn</key>
            <label>Hide crypto sleep pawn</label>
            <tooltip>Prevent crypto sleep pawns from being visible</tooltip>
            <tKey>RhyniaMisc_Settings_Core_HideCryptoSleepPawn</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_HideCryptoSleepPawn_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NutPasteNoDeterioration</key>
            <label>No nutrient paste deterioration</label>
            <tooltip>Prevent nutrient paste from deteriorating over time</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NutPasteNoDeterioration</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NutPasteNoDeterioration_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NoPlantRest</key>
            <label>No plant resting/No sun lamp resting</label>
            <tooltip>Prevent plants from resting at night, also disables sun lamp scheduling</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NoPlantRest</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NoPlantRest_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Core_NonPlayerDoorHoldOpen</key>
            <label>Non-player door hold open</label>
            <tooltip>Non-player doors 'hold open' option on by default</tooltip>
            <tKey>RhyniaMisc_Settings_Core_NonPlayerDoorHoldOpen</tKey>
            <tKeyTip>RhyniaMisc_Settings_Core_NonPlayerDoorHoldOpen_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Ideology_FastRelic</key>
            <label>Fast ideology relic quest</label>
            <tooltip>Speed up the ideology relic quest by 6 times</tooltip>
            <tKey>RhyniaMisc_Settings_Ideology_FastRelic</tKey>
            <tKeyTip>RhyniaMisc_Settings_Ideology_FastRelic_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Biotech_FabricorWorkTypeArt</key>
            <label>Mechanoids that can smith also do art</label>
            <tooltip>Allow mechanoids that can smith to perform art tasks</tooltip>
            <tKey>RhyniaMisc_Settings_Biotech_FabricorWorkTypeArt</tKey>
            <tKeyTip>RhyniaMisc_Settings_Biotech_FabricorWorkTypeArt_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Biotech_FasterMechForming</key>
            <label>Faster mechanoid forming</label>
            <tooltip>Allow mech gestator working much faster</tooltip>
            <tKey>RhyniaMisc_Settings_Biotech_FasterMechForming</tKey>
            <tKeyTip>RhyniaMisc_Settings_Biotech_FasterMechForming_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.IfStatement">
            <condition Class="XmlExtensions.Boolean.Comparison">
              <modId>Rhynia.Mod.Misc</modId>
              <value1>Biotech_TweakMechWork</value1>
              <value2>True</value2>
              <isKey1>True</isKey1>
              <nonNumeric>True</nonNumeric>
            </condition>
            <caseTrue>
              <li Class="XmlExtensions.Setting.SplitColumn">
                <leftCol>
                  <li Class="XmlExtensions.Setting.Checkbox">
                    <key>Biotech_TweakMechWork</key>
                    <label>Mechanoid work settings</label>
                    <tooltip>These settings will be applied to all mechanoids able to do some job</tooltip>
                    <tKey>RhyniaMisc_Settings_Biotech_TweakMechWork</tKey>
                    <tKeyTip>RhyniaMisc_Settings_Biotech_TweakMechWork_Tip</tKeyTip>
                    <defaultValue>False</defaultValue>
                  </li>
                  <li Class="XmlExtensions.Setting.Gap" />
                </leftCol>
                <rightCol>
                  <li Class="XmlExtensions.Setting.Slider">
                    <key>Biotech_TweakMechWork_Speed</key>
                    <label>Work speed: {key}</label>
                    <tKey>RhyniaMisc_Settings_Biotech_TweakMechWork_Speed</tKey>
                    <min>1.0</min>
                    <max>20.0</max>
                    <decimals>1</decimals>
                    <defaultValue>1.0</defaultValue>
                  </li>
                  <li Class="XmlExtensions.Setting.Slider">
                    <key>Biotech_TweakMechWork_Skill</key>
                    <label>Skill level: {key}</label>
                    <tKey>RhyniaMisc_Settings_Biotech_TweakMechWork_Skill</tKey>
                    <min>1</min>
                    <max>20</max>
                    <decimals>0</decimals>
                    <defaultValue>10</defaultValue>
                  </li>
                </rightCol>
              </li>
            </caseTrue>
            <caseFalse>
              <li Class="XmlExtensions.Setting.Checkbox">
                <key>Biotech_TweakMechWork</key>
                <label>Mechanoid work settings</label>
                <tooltip>These settings will be applied to all mechanoids able to do some job</tooltip>
                <tKey>RhyniaMisc_Settings_Biotech_TweakMechWork</tKey>
                <tKeyTip>RhyniaMisc_Settings_Biotech_TweakMechWork_Tip</tKeyTip>
                <defaultValue>False</defaultValue>
              </li>
            </caseFalse>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Biotech_VatLearningPowerful</key>
            <label>Vat learning powerful</label>
            <tooltip>Your child can become genius even spent the whole childhood in vat</tooltip>
            <tKey>RhyniaMisc_Settings_Biotech_VatLearningPowerful</tKey>
            <tKeyTip>RhyniaMisc_Settings_Biotech_VatLearningPowerful_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Biotech_NoSpawnCustomXenotype</key>
            <label>No spawn custom xenotype</label>
            <tooltip>Stop game to spawn factionless pawns using your custom xenotype, for it's too OP or something</tooltip>
            <tKey>RhyniaMisc_Settings_Biotech_NoSpawnCustomXenotype</tKey>
            <tKeyTip>RhyniaMisc_Settings_Biotech_NoSpawnCustomXenotype_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Anomaly_FastCooldown</key>
            <label>Fast cooldown anomaly</label>
            <tooltip>Horax, aren't you tired of waiting?</tooltip>
            <tKey>RhyniaMisc_Settings_Anomaly_FastCooldown</tKey>
            <tKeyTip>RhyniaMisc_Settings_Anomaly_FastCooldown_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Odyssey_HeadingNorth</key>
            <label>Gravship go north if not determined</label>
            <tooltip>Make the gravship head north if cannot get direction from thrusters, in case of symmetrical design with non-vanilla controls causing bugs</tooltip>
            <tKey>RhyniaMisc_Settings_Odyssey_HeadingNorth</tKey>
            <tKeyTip>RhyniaMisc_Settings_Odyssey_HeadingNorth_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Odyssey_SmallGravAnchor</key>
            <label>Small grav anchor (3x3)</label>
            <tooltip>Resize the grav anchor to 3x3</tooltip>
            <tKey>RhyniaMisc_Settings_Odyssey_SmallGravAnchor</tKey>
            <tKeyTip>RhyniaMisc_Settings_Odyssey_SmallGravAnchor_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

        </settings>
      </li>

      <li Class="XmlExtensions.Setting.GapLine" />

      <!-- FA -->

      <li Class="XmlExtensions.Setting.Section">
        <settings>
          <li Class="XmlExtensions.Setting.Text">
            <text>Patch (Facial Animation)</text>
            <font>Medium</font>
            <tKey>RhyniaMisc_Settings_FA</tKey>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>FA_PawnUpdateExtend</key>
            <label>Extend pawn update</label>
            <tooltip>When settings 'Enable Facial Animation for All Pawns' enable and 'Enable Facial Animation for Non-Colonists' disabled, this option makes prisoners and slaves' facial animation updated, for performance or something</tooltip>
            <tKey>RhyniaMisc_Settings_FA_PawnUpdateExtend</tKey>
            <tKeyTip>RhyniaMisc_Settings_FA_PawnUpdateExtend_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>
        </settings>
      </li>

      <li Class="XmlExtensions.Setting.GapLine" />

      <!-- VE -->

      <li Class="XmlExtensions.Setting.Section">
        <settings>
          <li Class="XmlExtensions.Setting.Text">
            <text>Patch (Vanilla Expanded)</text>
            <font>Medium</font>
            <tKey>RhyniaMisc_Settings_VE</tKey>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>VE_VFEF_EcosystemPowerful</key>
            <label>Powerful ecosystem</label>
            <tooltip>Make the VFEF artificial ecosystem grow speed to 800%</tooltip>
            <tKey>RhyniaMisc_Settings_VE_VFEF_EcosystemPowerful</tKey>
            <tKeyTip>RhyniaMisc_Settings_VE_VFEF_EcosystemPowerful_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>VE_VTE_SelfFunctionController</key>
            <label>Self-function AC controller</label>
            <tooltip>Make the VTE AC controller free from compressor</tooltip>
            <tKey>RhyniaMisc_Settings_VE_VTE_SelfFunctionController</tKey>
            <tKeyTip>RhyniaMisc_Settings_VE_VTE_SelfFunctionController_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>
        </settings>
      </li>

      <li Class="XmlExtensions.Setting.GapLine" />

      <!-- CeleTech Arsenal MKIII -->

      <li Class="XmlExtensions.Setting.Section">
        <settings>
          <li Class="XmlExtensions.Setting.Text">
            <text>Patch (CeleTech Arsenal MKIII)</text>
            <font>Medium</font>
            <tKey>RhyniaMisc_Settings_CTA</tKey>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>CTA_SmallerFacility</key>
            <label>Smaller radar</label>
            <tooltip>Reduce the size of the radar to 3x3, including the glow~</tooltip>
            <tKey>RhyniaMisc_Settings_CTA_SmallerFacility</tKey>
            <tKeyTip>RhyniaMisc_Settings_CTA_SmallerFacility_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>
        </settings>
      </li>

      <li Class="XmlExtensions.Setting.GapLine" />

      <!-- Misc -->

      <li Class="XmlExtensions.Setting.Section">
        <settings>
          <li Class="XmlExtensions.Setting.Text">
            <text>Patch (Misc)</text>
            <font>Medium</font>
            <tKey>RhyniaMisc_Settings_Misc</tKey>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Misc_MechHaulAlsoCapture</key>
            <label>Mech that haul or doctor can also capture</label>
            <tooltip>Allow mechanoids that can haul to capture pawns using Capture Them</tooltip>
            <tKey>RhyniaMisc_Settings_Misc_MechHaulAlsoCapture</tKey>
            <tKeyTip>RhyniaMisc_Settings_Misc_MechHaulAlsoCapture_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Misc_MechHaulAlsoUrgentHaul</key>
            <label>Mechanoids that can haul also do urgent hauling</label>
            <tooltip>Allow mechanoids that can haul to perform urgent hauling tasks</tooltip>
            <tKey>RhyniaMisc_Settings_Misc_MechHaulAlsoUrgentHaul</tKey>
            <tKeyTip>RhyniaMisc_Settings_Misc_MechHaulAlsoUrgentHaul_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Misc_MechAutoBlink</key>
            <label>Mechanoids all use Auto Blink</label>
            <tooltip>Allow mechanoids to automatically blink (Auto Blink), quite OOOOOOP, player faction only</tooltip>
            <tKey>RhyniaMisc_Settings_Misc_MechAutoBlink</tKey>
            <tKeyTip>RhyniaMisc_Settings_Misc_MechAutoBlink_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Misc_BM_MechEnhance</key>
            <label>BM mechanoids enhancement</label>
            <tooltip>Why can't the maid mechanoids be more powerful?</tooltip>
            <tKey>RhyniaMisc_Settings_Misc_BM_MechEnhance</tKey>
            <tKeyTip>RhyniaMisc_Settings_Misc_BM_MechEnhance_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Misc_Group_TinyWorkbench</key>
            <label>Tiny Workbench Grouping</label>
            <tooltip>Integrate 'Tiny Workbenches' into 'More Grouped Buildings' dropdown</tooltip>
            <tKey>RhyniaMisc_Settings_Misc_Group_TinyWorkbench</tKey>
            <tKeyTip>RhyniaMisc_Settings_Misc_Group_TinyWorkbench_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>
        </settings>
      </li>

      <li Class="XmlExtensions.Setting.GapLine" />

      <!-- Addons -->

      <li Class="XmlExtensions.Setting.Section">
        <settings>
          <li Class="XmlExtensions.Setting.Text">
            <text>Addon</text>
            <font>Medium</font>
            <tKey>RhyniaMisc_Settings_Addon</tKey>
          </li>

          <li Class="XmlExtensions.Setting.Gap" />

          <li Class="XmlExtensions.Setting.Checkbox">
            <key>Addon_ScreamingIncident</key>
            <label>Screaming incident</label>
            <tooltip>Scream when incidents come</tooltip>
            <tKey>RhyniaMisc_Settings_Addon_ScreamingIncident</tKey>
            <tKeyTip>RhyniaMisc_Settings_Addon_ScreamingIncident_Tip</tKeyTip>
            <defaultValue>False</defaultValue>
          </li>
        </settings>
      </li>

    </settings>
  </XmlExtensions.SettingsMenuDef>
</Defs>